name: go-peer ci

on: 
  pull_request:
    paths:
      - 'go-peer/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  go-check:
    uses: libp2p/uci/.github/workflows/go-check.yml@v0.0
    with:
      go-version: '1.22.x'
  go-test:
    uses: libp2p/uci/.github/workflows/go-test.yml@v0.0
    with:
      go-versions: '["1.22.x"]'
