name: js-peer build

permissions:
  contents: read
  pull-requests: write
  statuses: write

on:
  push:
    branches: [main] # Deploy every commit so we can CIDs for every commit on main
  pull_request:
    branches: [main]
    paths:
      - 'js-peer/**' # only run for PRs changing js-peer

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: js-peer
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20.x'
      - run: npm ci
      - run: npm run lint
      - run: npm run build
      - uses: ipfs/ipfs-deploy-action@v1
        name: Deploy to IPFS
        id: deploy
        with:
          path-to-deploy: out
          storacha-key: ${{ secrets.STORACHA_KEY }}
          storacha-proof: ${{ secrets.STORACHA_PROOF }}
          github-token: ${{ github.token }}
