name: js-peer build

on:
  push:
    branches: [ main ]
    paths:
      - 'js-peer/**'
  pull_request:
    branches: [ main ]
    paths:
      - 'js-peer/**'

jobs:
  build-frontend:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: js-peer
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: '20.x'
    - run: npm ci
    - run: npm run lint
    - run: npm run build

